#matches {
    // flex: 1;
    border-bottom: 1px solid #bbb;
    overflow-y: hidden;
    // padding: 10px 5px;

    .mainContainer {
        max-height: 350px;
        min-height: 150px;
        overflow-y: scroll;

        p {
            cursor: pointer;
            color: darken(#428bca, 6.5%);
            margin-bottom: 0.5em;
            // ellipsis on second line =-
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            // -->
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: $screen-sm) {
    #matches {
        .recent {
            height: calc(50% - 15px);
        }
        .mainContainer {
            min-height: 0;
        }
    }
}
