#matches {
    max-height: 400px;
    border: 1px solid #bbb;
    padding: 10px 5px;
    overflow-y: scroll;

    .mContainer {
        // height: 100%;
        p {
            cursor: pointer;
            color: darken(#428bca, 6.5%);
            max-height: 3em;
            overflow: hidden;
            margin-bottom: 0.5em;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: $screen-sm) {
    #matches {
        max-height: none;
        height: 100%;
    }
}
