#filters {
    display: flex;
    flex-direction: column;

    background-color: #aaa;
    // padding: 15px;

    .searchInit {
        // height: 60px;
        text-align: right;
        padding: 10px 15px;
    }
    h4 span {
        font-size: 14px;
    }
}

@media (min-width: $screen-sm) {
    .row {
        display: flex;
        flex: 1;
    }
    .row > div {
        flex: 1;
        padding: 0 15px;
    }
}
