#filters {
    background-color: #aaa;
    padding: 15px;
    // margin-bottom: 20px;

    .searchInit {
        text-align: right;
        // padding-top: 20px;
    }
    h4 span {
        font-size: 14px;
    }
}
