@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "Matches/matches.scss";
@import "Filters/filters.scss";
@import "Entries/entries.scss";

nav {
    display: block;
    // height: 80px;
    background-color: black;
    padding: 15px;
    h1 {
        margin: 0;
        color: rgb(193, 209, 240)
    }
}

.main {
    // max-height: 300px;
}

.help-modal {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: rgba(197, 218, 222, 0.9);
    z-index: 100;
    padding: 10%;
    border-radius: 10px;
    border: 2px solid #aaa;
}
h2 {
    font-size: 22px;
}

@media (min-width: $screen-sm) {
    html, body, body > div, .container {
        height: 100%;
    }

    body {
        overflow: hidden;;
        background-color: rgb(236, 236, 236);
        font-family: sans-serif;
    }

    .main {
        margin-left: 0;
        margin-right: 0;
        padding: 15px 0;
        background: white;
        height: calc(100% - 246px);
        & > div {
            height: 100%;
        }
    }
}
